<!DOCTYPE html>
<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel='icon' href='/img/weather.png'>
</head>

<body>
    <div class='main-content'>
    {{>headers}}
   
    <img class='portrait' src='/img/robot.png'>
    <p>{{name}}</p>
    </div>



    <p>{{>footer}}</p>
</body>
</html>